# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
1. Some of the popular languages that Data Scientists use.
2. Some of the commonly used libraries used by Data Scientist.
3. Data Science Tools
4. few examples of evaluating arithmetic expressions in Python.
5. convert 200 minutes to hours by diving by 60

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Sci-kit learn

|Data Science Tools|
|------------------|
| MySQL |
| MongoDB |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Sudarshan Ingale